*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{
  height: 100vh;
  display: flex;
}
.app .sidebar{
  height: 100vh;
  width: 250px;
}
.app .visualize{
  width: calc(100vw - 270px);
  display: flex;
  flex-direction: column;
  margin: 20px 5px 20px 5px;
}
.app .visualize hr{
  border-top: 2px solid;
}
